.App {
  text-align: center;
  padding: 30px 0px;
}

.input_search {
  padding: 10px;
  width: 250px;
}

.components-row {
  width: 50%;
  margin: auto;
}

.result_container {
  display: flex;
  flex-wrap: wrap;
}

.successful-result-details{
  width: 50%;
}

.search_result_poster{
  width: 300px;
  height: 450px;
  padding: 0px 10px;
}

.genre-button{
  padding: 8px;
  margin: 0px 5px;
}

.genre-buttons-container {
  margin: 10px 0px;
  height: 40px;
}

.description-container {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}